In [69]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

In [142]:
def create_connection():
    return mysql.connector.connect(
        host="localhost",
        user="root",
        password="Savi@415",
        database="dataspark"
    )

In [87]:
# pushing cleaned_customers to sql
dfc=pd.read_csv("cleaned_customers.csv")

# converting to sql data types
dfc['Unnamed: 0'] = dfc['Unnamed: 0'].astype('int')
dfc['CustomerKey'] = dfc['CustomerKey'].astype('int')
dfc['Age'] = dfc['Age'].astype('int')
dfc['Birthday'] = pd.to_datetime(dfc['Birthday'], errors='coerce')

In [82]:
dfc.head()

,Unnamed: 0,CustomerKey,Gender,Name,City,State Code,State,Zip Code,Country,Continent,Birthday,Age
0,0,301,Female,Lilly Harding,WANDEARAH EAST,SA,South Australia,5523,Australia,Australia,1939-07-03,85
1,1,325,Female,Madison Hull,MOUNT BUDD,WA,Western Australia,6522,Australia,Australia,1979-09-27,45
2,2,554,Female,Claire Ferres,WINJALLOK,VIC,Victoria,3380,Australia,Australia,1947-05-26,77
3,3,786,Male,Jai Poltpalingada,MIDDLE RIVER,SA,South Australia,5223,Australia,Australia,1957-09-17,67
4,4,1042,Male,Aidan Pankhurst,TAWONGA SOUTH,VIC,Victoria,3698,Australia,Australia,1965-11-19,59

In [94]:
dfc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15266 entries, 0 to 15265
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   15266 non-null  int32
 1   CustomerKey  15266 non-null  int32
 2   Gender       15266 non-null  object
 3   Name         15266 non-null  object
 4   City         15266 non-null  object
 5   State Code   15266 non-null  object
 6   State        15266 non-null  object
 7   Zip Code     15266 non-null  object
 8   Country      15266 non-null  object
 9   Continent    15266 non-null  object
 10  Birthday     15266 non-null  datetime64[ns]
 11  Age          15266 non-null  int32
dtypes: datetime64[ns](1), int32(3), object(8)
memory usage: 1.2+ MB

In [76]:
insert_query = """
INSERT INTO Customers (CustomerKey, Gender, Name, City, State_Code, State, Zip_Code, Country, Continent, Birthday, Age)
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

In [91]:
data_tuples = [tuple(row) for row in dfc.to_numpy()]

In [120]:
try:
    cursor.executemany(insert_query, data_tuples)
    connection.commit()
    print("Values inserted successfully.")
except Error as e:
    print(f"Error: {e}")
finally:
    cursor.close()
    connection.close()

Values inserted successfully.

In [103]:
# Cleaned sales

dfs=pd.read_csv("cleaned_sales.csv")

dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     62884 non-null  int64
 1   Order Number   62884 non-null  int64
 2   Line Item      62884 non-null  int64
 3   Order Date     62884 non-null  object
 4   Delivery Date  62884 non-null  object
 5   CustomerKey    62884 non-null  int64
 6   StoreKey       62884 non-null  int64
 7   ProductKey     62884 non-null  int64
 8   Quantity       62884 non-null  int64
 9   Currency Code  62884 non-null  object
dtypes: int64(7), object(3)
memory usage: 4.8+ MB

In [104]:
# Converting to sql datatype

dfs['Unnamed: 0'] = dfs['Unnamed: 0'].astype(int)
dfs['Order Number'] = dfs['Order Number'].astype(int)
dfs['Line Item'] = dfs['Line Item'].astype(int)
dfs['CustomerKey'] = dfs['CustomerKey'].astype(int)
dfs['StoreKey'] = dfs['StoreKey'].astype(int)
dfs['ProductKey'] = dfs['ProductKey'].astype(int)
dfs['Quantity'] = dfs['Quantity'].astype(int)

In [105]:
dfs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62884 entries, 0 to 62883
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     62884 non-null  int32
 1   Order Number   62884 non-null  int32
 2   Line Item      62884 non-null  int32
 3   Order Date     62884 non-null  object
 4   Delivery Date  62884 non-null  object
 5   CustomerKey    62884 non-null  int32
 6   StoreKey       62884 non-null  int32
 7   ProductKey     62884 non-null  int32
 8   Quantity       62884 non-null  int32
 9   Currency Code  62884 non-null  object
dtypes: int32(7), object(3)
memory usage: 3.1+ MB

In [114]:
insert_query = """
    INSERT INTO Sales (Unnamed_0, Order_Number, Line_Item, Order_Date, Delivery_Date, CustomerKey, StoreKey, ProductKey, Quantity, Currency_Code)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
"""

In [108]:
data_tuples = [tuple(row) for row in dfs.to_numpy()]

In [117]:
try:
    cursor.executemany(insert_query, data_tuples)
    connection.commit()
    print("Values inserted successfully.")
except Error as e:
    print(f"Error: {e}")
finally:
    cursor.close()
    connection.close()

Values inserted successfully.

In [164]:
# Cleaned products

dfp=pd.read_csv("cleaned_products.csv")

dfp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2517 entries, 0 to 2516
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      2517 non-null   int64
 1   ProductKey      2517 non-null   int64
 2   Product Name    2517 non-null   object
 3   Brand           2517 non-null   object
 4   Color           2517 non-null   object
 5   Unit Cost USD   2517 non-null   float64
 6   Unit Price USD  2517 non-null   float64
 7   SubcategoryKey  2517 non-null   int64
 8   Subcategory     2517 non-null   object
 9   CategoryKey     2517 non-null   int64
 10  Category        2517 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 216.4+ KB

In [160]:
# Converting to sql datatype
dfp['ProductKey'] = dfp['ProductKey'].astype(int)
dfp['Unit Cost USD'] = dfp['Unit Cost USD'].astype('float32')
dfp['Unit Price USD'] = dfp['Unit Price USD'].astype('float32')
dfp['SubcategoryKey'] = dfp['SubcategoryKey'].astype(int)
dfp['CategoryKey'] = dfp['CategoryKey'].astype(int)

In [161]:
dfp.dtypes

Unnamed: 0          int64
ProductKey          int32
Product Name       object
Brand              object
Color              object
Unit Cost USD     float32
Unit Price USD    float32
SubcategoryKey      int32
Subcategory        object
CategoryKey         int32
Category           object
dtype: object

In [163]:
insert_query = """
    INSERT INTO Products (Unnamed_0,ProductKey, Product_Name, Brand, Color, Unit_Cost_USD, Unit_Price_USD, SubcategoryKey, Subcategory, CategoryKey, Category)
    VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s,%s)"""
data_tuples = [tuple(row) for row in dfp.to_numpy()]

connection = create_connection()
cursor = connection.cursor()

try:
    cursor.executemany(insert_query, data_tuples)
    connection.commit()
    print("Values inserted successfully.")
except Error as e:
    print(f"Error: {e}")
finally:
    cursor.close()
    connection.close()

Values inserted successfully.

In [165]:
# Cleaned stores

dfst=pd.read_csv("cleaned_stores.csv")

dfst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     67 non-null     int64
 1   StoreKey       67 non-null     int64
 2   Country        67 non-null     object
 3   State          67 non-null     object
 4   Square Meters  67 non-null     float64
 5   Open Date      67 non-null     object
dtypes: float64(1), int64(2), object(3)
memory usage: 3.3+ KB

In [170]:
# Converting to sql datatypes

dfst["StoreKey"]=dfst["StoreKey"].astype(int)
dfst["Square Meters"]=dfst["Square Meters"].astype("float32")
dfst["Unnamed: 0"]=dfst["Unnamed: 0"].astype("int")

In [171]:
dfst.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67 entries, 0 to 66
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     67 non-null     int32
 1   StoreKey       67 non-null     int32
 2   Country        67 non-null     object
 3   State          67 non-null     object
 4   Square Meters  67 non-null     float32
 5   Open Date      67 non-null     object
dtypes: float32(1), int32(2), object(3)
memory usage: 2.5+ KB

In [179]:
insert_query = """
    INSERT INTO stores (Unnamed,StoreKey, Country, State, Square_Meters, Open_Date)
    VALUES (%s, %s, %s, %s, %s,%s)"""
data_tuples = [tuple(row) for row in dfst.to_numpy()]

connection = create_connection()
cursor = connection.cursor()

try:
    cursor.executemany(insert_query, data_tuples)
    connection.commit()
    print("Values inserted successfully.")
except Error as e:
    print(f"Error: {e}")
finally:
    cursor.close()
    connection.close()

Values inserted successfully.

In [175]:
# Cleaned exchangerates

dfe=pd.read_csv("cleaned_exchange_rates.csv")

dfe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11215 non-null  int64
 1   Date        11215 non-null  object
 2   Currency    11215 non-null  object
 3   Exchange    11215 non-null  float64
dtypes: float64(1), int64(1), object(2)
memory usage: 350.6+ KB

In [186]:
dfe["Exchange"]=dfe["Exchange"].astype('float32')
dfe["Unnamed: 0"]=dfe["Unnamed: 0"].astype(int)
dfe['Date'] = pd.to_datetime(dfe['Date'], errors='coerce')
dfe.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11215 entries, 0 to 11214
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  11215 non-null  int32
 1   Date        11215 non-null  datetime64[ns]
 2   Currency    11215 non-null  object
 3   Exchange    11215 non-null  float32
dtypes: datetime64[ns](1), float32(1), int32(1), object(1)
memory usage: 263.0+ KB

In [189]:
insert_query = """
    INSERT INTO ExchangeRates (Unnamed, Date, Currency, Exchange)
    VALUES (%s, %s, %s,%s)"""
data_tuples = [tuple(row) for row in dfe.to_numpy()]

connection = create_connection()
cursor = connection.cursor()

try:
    cursor.executemany(insert_query, data_tuples)
    connection.commit()
    print("Values inserted successfully.")
except Error as e:
    print(f"Error: {e}")
finally:
    cursor.close()
    connection.close()

Values inserted successfully.